<ion-header>
  <div class="cabecalho">
    <a href="/home"
      ><img src="assets/img/logo.png" alt="Logo" class="logo"
    /></a>
    <a href="/profissoes/pfvue"
      ><img src="assets/img/profissao.png" alt="Perfil" class="user-pf"
    /></a>
  </div>
</ion-header>

<!-- Conteúdo principal da página -->
<ion-content class="ion-padding">
  <div class="btn-back" style="max-width: 30px;">
    <a href="/mapa/map-vue"
      ><img src="assets\img\btn-back.png" alt="Botão Voltar"
    /></a>
  </div>

  <div class="tittle-content">
    <h3>Vue</h3>
    <img src="assets/img/vue.png" alt="AI" class="icon-python" />
    <p>Aqui temos um guia com documentações oficiais, artigos e vídeos sobre os tópicos abordados no RoadMap!</p>
  </div>

  <ion-item button (click)="toggleContent('content1')"><!--Barra 1-->
    <ion-label>
      <h2>Introdução ao Bootstrap </h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content1']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content1']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.devmedia.com.br/guia/bootstrap/38150" target="_blank" rel="noopener noreferrer"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>

      <a href="https://www.youtube.com/watch?v=SmQMZ36hJJY&list=PLnDvRpP8Bnexu5wvxogy6N49_S5Xk8Cze" target="_blank" rel="noopener noreferrer"><img src="assets/img/youtube.png" alt="Artigo" class="icon-artigos"></a>

      
     
    </div>
  </div><!--Barra 1-->

  <ion-item button (click)="toggleContent('content2')"><!--Barra 2-->
    <ion-label>
      <h2>Responsividade Bootstrap</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content2']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content2']" class="btn-before">
    <div class="justify-icon">

      <a href="hhttps://getbootstrap.com.br/docs/3.3/css/" target="_blank"><img src="assets/img/site.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://pt.stackoverflow.com/questions/368491/layout-responsivo-bootstrap" target="_blank"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=8sa0iCnCEk0" target="_blank"><img src="assets/img/youtube.png" alt="Artigo" class="icon-artigos"></a>
    </div>
  </div><!--Barra 2-->

  <ion-item button (click)="toggleContent('content3')"><!--Barra 3-->
    <ion-label>
      <h2>Navbar</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content3']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content3']" class="btn-before">
    <div class="justify-icon">
      <a href="https://getbootstrap.com/docs/4.0/components/navbar/" target="_blank"><img src="assets/img/artigo.png" alt="Youtube" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=Ed5ZBDm08jg" target="_blank"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 3-->

  <ion-item button (click)="toggleContent('content4')"><!--Barra 4-->
    <ion-label>
      <h2>Dropdowns</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content4']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content4']" class="btn-before">
    <div class="justify-icon">
      <a href=" https://www.youtube.com/watch?v=NbxTCEK543E" target="_blank"><img src="assets/img/youtube.png" alt="Site" class="icon-artigos"></a>
    </div>
  </div><!--Barra 4-->

  <ion-item button (click)="toggleContent('content5')"><!--Barra 5-->
    <ion-label>
      <h2>Javascript com Bootstrap</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content5']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content5']" class="btn-before">
    <div class="justify-icon">
      <a href="https://getbootstrap.com.br/docs/4.1/getting-started/javascript/" target="_blank"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=QSeZXLo4sXI" target="_blank"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 5-->


    <div class="btn-top" style="display: flex; justify-content: center; margin-top: 35px;">
        <ion-icon (click)="scrollToTop()" name="arrow-up-circle-outline" size="large" style="background-color: #0077b6;"></ion-icon>
    </div>
</ion-content>

<!-- Rodapé da página -->
<ion-footer>
  <!-- Barra de ferramentas que contém os botões -->
  <ion-toolbar>
    <!-- Conjunto de botões centralizados -->
    <ion-buttons style="display: flex; justify-content: center; justify-content: space-between; margin-left: 45px; margin-right: 45px;">
      <!-- Primeiro botão com ícone aumentado -->
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/favoritos">
        <img src="assets/img/favorito.png" alt="">
      </a>
      <a href="/profile">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

