<ion-header>
  <div class="cabecalho">
    <a href="/home"
      ><img src="assets/img/logo.png" alt="Logo" class="logo"
    /></a>
    <a href="/profissoes/pfpython"
      ><img src="assets/img/profissao.png" alt="Perfil" class="user-pf"
    /></a>
  </div>
</ion-header>

<!-- Conteúdo principal da página -->
<ion-content class="ion-padding">
  <div class="btn-back" style="max-width: 30px;">
    <a href="/mapa/map-python"
      ><img src="assets\img\btn-back.png" alt="Botão Voltar"
    /></a>
  </div>

  <div class="tittle-content">
    <h3>Python</h3>
    <img src="assets/img/python.png" alt="Python" class="icon-python" />
    <p>Aqui temos um guia com documentações oficiais, artigos e vídeos sobre os tópicos abordados no RoadMap!</p>
  </div>

  <ion-item button (click)="toggleContent('content1')"><!--Barra 1-->
    <ion-label>
      <h2>Fundamentos</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content1']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content1']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.alura.com.br/artigos/python?utm_term=&utm_campaign=%5BSearch%5D+%5BPerformance%5D+-+Dynamic+Search+Ads+-+Artigos+e+Conte%C3%BAdos&utm_source=adwords&utm_medium=ppc&hsa_acc=7964138385&hsa_cam=11384329873&hsa_grp=164240702375&hsa_ad=703853654617&hsa_src=g&hsa_tgt=aud-396128415587:dsa-2276348409543&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrqum0mCMuSnYG52OV4YQr0S66rvdKLrR982Kah0kb9-dQ1hsaoj1pj0BoCAuUQAvD_BwE" target="_blank" rel="noopener noreferrer"><img src="assets/img/artigo.png" alt="Site" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=cGtLWHQOGaQ" target="_blank" rel="noopener noreferrer"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 1-->

  <ion-item button (click)="toggleContent('content2')"><!--Barra 2-->
    <ion-label>
      <h2>Estrutura de controle</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content2']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content2']" class="btn-before">
    <div class="justify-icon">
      <a href="https://dev.to/franciscojdsjr/explorando-estruturas-de-controle-e-funcoes-em-python-126m"><img src="assets/img/artigo.png" alt="Site" class="icon-artigos"></a>
      <a href="https://panda.ime.usp.br/panda/static/pythonds_pt/01-Introducao/10-controle.html"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>
    </div>
  </div><!--Barra 2-->

  <ion-item button (click)="toggleContent('content3')"><!--Barra 3-->
    <ion-label>
      <h2>Classes e Objetos</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content3']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content3']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.hashtagtreinamentos.com/classes-no-python?gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrqupv4MGkpyYWwvxXKQXPJ4v5zvWcf1Nz9tSOT6J4WeighTwy5p0L_FhoCFJYQAvD_BwE"><img src="assets/img/artigo.png" alt="Site" class="icon-artigos"></a>
      <a href="https://www.alura.com.br/artigos/python-poo-engenharia-dados?utm_term=&utm_campaign=%5BSearch%5D+%5BPerformance%5D+-+Dynamic+Search+Ads+-+Artigos+e+Conte%C3%BAdos&utm_source=adwords&utm_medium=ppc&hsa_acc=7964138385&hsa_cam=11384329873&hsa_grp=164212380672&hsa_ad=703829166693&hsa_src=g&hsa_tgt=aud-396128415587:dsa-425656816943&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrqut33sgiWuifVT_tePxiYohFhhSSbOFH-2T57_ep974Xs3tb46QWV2RoCM_YQAvD_BwE"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>

    </div>
  </div><!--Barra 3-->

  <ion-item button (click)="toggleContent('content4')"><!--Barra 4-->
    <ion-label>
      <h2>Bibliotecas</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content4']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content4']" class="btn-before">
    <div class="justify-icon">
      <a href="https://docs.python.org/pt-br/3/library/index.html"><img src="assets/img/site.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://www.hashtagtreinamentos.com/bibliotecas-do-python?gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrquu88YV4XOuKNWmPIykJI9qNR_CENhiyf8VIjlFvZqT-2QF4yyskcKRoCJ78QAvD_BwE"><img src="assets/img/site.png" alt="Site" class="icon-artigos"></a>
    </div>
  </div><!--Barra 4-->

  <ion-item button (click)="toggleContent('content5')"><!--Barra 5-->
    <ion-label>
      <h2>Ciência de dados</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content5']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content5']" class="btn-before">
    <div class="justify-icon">
      <a href="https://docs.python.org/pt-br/3/tutorial/"><img src="assets/img/site.png" alt="Site" class="icon-artigos"></a>
      <a href="https://www.alura.com.br/artigos/python?srsltid=AfmBOoqf6M48gSzuBdM63JRzjoV4kbx2UifSYnLFkJElY1hISlqagivB"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://youtu.be/Mp0vhMDI7fA?si=ms5nBSkge0ofHQqG"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 5-->

  <ion-item button (click)="toggleContent('content6')"><!--Barra 6-->
    <ion-label>
      <h2>Banco de dados</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content6']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content6']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.hashtagtreinamentos.com/banco-de-dados-em-python?gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrquplSSwkXM6KmOPK0nNCom5HLkGTxQBxw-WwFMQ8fZ-fIKCQBasVNYhoCQsoQAvD_BwE"><img src="assets/img/artigo.png" alt="Site" class="icon-artigos"></a>
      <a href="https://www.freecodecamp.org/portuguese/news/como-criar-e-manipular-bancos-de-dados-sql-com-python/"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=W-g6StRy1zY"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 6-->

  <ion-item button (click)="toggleContent('content7')"><!--Barra 7-->
    <ion-label>
      <h2>Machine Learning</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content7']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content7']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.alura.com.br/artigos/machine-learning?utm_term=&utm_campaign=%5BSearch%5D+%5BPerformance%5D+-+Dynamic+Search+Ads+-+Artigos+e+Conte%C3%BAdos&utm_source=adwords&utm_medium=ppc&hsa_acc=7964138385&hsa_cam=11384329873&hsa_grp=164212380672&hsa_ad=703934981513&hsa_src=g&hsa_tgt=aud-396128415587:dsa-425656816943&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrqul4p_4OTuVwovVoGmEWxsTy2JPZiOiEdER0LSSIxtsMF25VSxuseJxoCQK4QAvD_BwE"><img src="assets/img/site.png" alt="Site" class="icon-artigos"></a>
      <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/paidmedia?specialization=ibm-data-engineer&specialization=ibm-data-engineer&utm_medium=sem&utm_source=gg&utm_campaign=b2c_latam_ibm-data-engineer_ibm_ftcof_professional-certificates_px_dr_bau_gg_sem_pr_s1_en_m_hyb_24-11_x&campaignid=21876400992&adgroupid=169255137519&device=c&keyword=&matchtype=&network=g&devicemodel=&creativeid=720188858838&assetgroupid=&targetid=dsa-2566090479792&extensionid=&placement=&gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrqugMqy_Q2euvRoCIG98__ZhT9WgukPQKC2Z6oaBL7ndZ-gKdAOYhh7xoCWVAQAvD_BwE"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>
    </div>
  </div><!--Barra 7-->

    <div class="btn-top" style="display: flex; justify-content: center; margin-top: 35px;">
        <ion-icon (click)="scrollToTop()" name="arrow-up-circle-outline" size="large" style="background-color: #0077b6;"></ion-icon>
    </div>
</ion-content>

<!-- Rodapé da página -->
<ion-footer>
  <!-- Barra de ferramentas que contém os botões -->
  <ion-toolbar>
    <!-- Conjunto de botões centralizados -->
    <ion-buttons style="display: flex; justify-content: center; justify-content: space-between; margin-left: 45px; margin-right: 45px;">
      <!-- Primeiro botão com ícone aumentado -->
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/favoritos">
        <img src="assets/img/favorito.png" alt="">
      </a>
      <a href="/profile">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

