<ion-header>
  <div class="cabecalho">
    <a href="/home"><img src="assets/img/logo.png" alt="Logo" class="logo" /></a>
    <a href="/profissoes/pfjava"><img src="assets/img/profissao.png" alt="Perfil" class="user-pf" /></a>
    <a href="/artigos/java"><img src="assets/img/artigo.png" alt="Artigos" class="artigos" /></a>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="btn-back" style="max-width: 30px;">
    <a href="/home"><img src="assets\img\btn-back.png" alt="Botão Voltar" /></a>
  </div>

  <h1>Java</h1>
  <div class="icon-container">
    <img class="py-icon" src="assets/img/java.png" alt="Java icone">
  </div>

  <div class="img-map">
    <img src="assets/img/roadmap-java.png" alt="Mapa Java" (click)="openFullscreen($event)">
  </div>



  <div class="text">
    <strong>Java</strong> é uma das linguagens de programação mais populares e amplamente utilizadas no mundo, conhecida
    por sua portabilidade e robustez. Criada em 1995 pela Sun Microsystems, é uma linguagem orientada a objetos que
    permite o desenvolvimento de aplicativos para diversas plataformas. Sua filosofia "escreva uma vez, execute em
    qualquer lugar" (WORA) garante compatibilidade entre sistemas operacionais. Além disso, Java é essencial em áreas
    como desenvolvimento web, aplicações empresariais e dispositivos móveis. Com uma vasta comunidade de
    desenvolvedores, oferece suporte constante e uma ampla gama de bibliotecas e ferramentas.<br><br>
    <strong>Por que Java?</strong><br><br>
    <strong>Facilidade de Aprendizado:</strong>Sua sintaxe clara facilita o aprendizado, e sua portabilidade permite
    criar programas que rodam em qualquer sistema. Além disso, o mercado para desenvolvedores Java é aquecido,
    oferecendo excelentes oportunidades.<br><br>
    <strong>Versatilidade:</strong> Java é uma linguagem versátil, robusta e amplamente usada em diversos setores, como
    desenvolvimento web, mobile e aplicações empresariais.<br><br>
    <strong>Grande Comunidade:</strong>Possui uma comunidade ativa e extensa, o que significa que você encontrará muitos
    recursos, bibliotecas e suporte online.<br><br>
    <strong>Bibliotecas e Frameworks:</strong>Oferece uma vasta quantidade de bibliotecas e frameworks para diversas
    tarefas, como Spring , Hibernate, Vaadin, Micronaut e JUnit.
  </div>

</ion-content>

<!-- Rodapé da página -->
<ion-footer>
  <!-- Barra de ferramentas que contém os botões -->
  <ion-toolbar>
    <!-- Conjunto de botões centralizados -->
    <ion-buttons
      style="display: flex; justify-content: center; justify-content: space-between; margin-left: 45px; margin-right: 45px;">
      <!-- Primeiro botão com ícone aumentado -->
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/favoritos">
        <img src="assets/img/favorito.png" alt="">
      </a>
      <a href="/profile">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>