<ion-header>
  <div class="cabecalho">
    <a href="/home"
      ><img src="assets/img/logo.png" alt="Logo" class="logo"
    /></a>
    <a href="/artigos/python"
      ><img src="assets/img/artigo.png" alt="Perfil" class="logo"
    /></a>
  </div>
</ion-header>

<!-- Conteúdo principal da página -->
<ion-content class="ion-padding">
  <div class="btn-back" style="max-width: 30px;">
    <a href="/mapa/map-python"
      ><img src="assets\img\btn-back.png" alt="Botão Voltar"
    /></a>
  </div>

  <div class="tittle-content">
    <h3>Profissões</h3>
    <img src="assets/img/css.png" alt="css-img" class="icon-js" />
    <p class="text-intro">Um programador ou desenvolvedor CSS é responsável por estilizar e formatar interfaces de usuário (UI) para páginas e aplicações web. CSS (Cascading Style Sheets) é a tecnologia usada para controlar a aparência visual de elementos HTML, como cores, fontes, espaçamentos, layouts, animações e responsividade.</p>
  </div>

  <ion-item button (click)="toggleContent('content1')"><!--Barra 1-->
    <ion-label>
      <h2 class="pf-box">Desenvolvedor Web</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content1']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content1']" class="btn-before">
    <p class="text-info">Criação de sites institucionais, blogs e landing pages, também desenvolvi animações para melhorar a experiência do usuário.</p>
    <p class="salario">Média Salarial: R$2 mil - R$5 mil</p>
  </div><!--Barra 1-->

  <div class="btn-top" style="display: flex; justify-content: center; margin-top: 35px;">
    <ion-icon (click)="scrollToTop()" name="arrow-up-circle-outline" size="large" style="background-color: #0077b6;"></ion-icon>
  </div>  
</ion-content>

<!-- Rodapé da página -->
<ion-footer>
  <!-- Barra de ferramentas que contém os botões -->
  <ion-toolbar>
    <!-- Conjunto de botões centralizados -->
    <ion-buttons style="display: flex; justify-content: center; justify-content: space-between; margin-left: 45px; margin-right: 45px;">
      <!-- Primeiro botão com ícone aumentado -->
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/favoritos">
        <img src="assets/img/favorito.png" alt="">
      </a>
      <a href="/profile">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>