<ion-header>
  <div class="cabecalho">
    <a href="/home"
      ><img src="assets/img/logo.png" alt="Logo" class="logo"
    /></a>
    <a href="/artigos/python"
      ><img src="assets/img/artigo.png" alt="Perfil" class="logo"
    /></a>
  </div>
</ion-header>

<!-- Conteúdo principal da página -->
<ion-content class="ion-padding">
  <div class="btn-back" style="max-width: 30px;">
    <a href="/mapa/map-python"
      ><img src="assets\img\btn-back.png" alt="Botão Voltar"
    /></a>
  </div>

  <div class="tittle-content">
    <h3>Profissões</h3>
    <img src="assets/img/cyber-security.png" alt="cyber-security-img" class="icon-js" />
    <p class="text-intro">Um programador ou desenvolvedor que trabalha com Cybersecurity (Cibersegurança) é responsável por proteger sistemas de computadores, redes e dados contra ameaças externas e internas, como hackers, malware, vírus e ransomware. Esse profissional pode trabalhar no desenvolvimento de ferramentas e software para detectar, prevenir e responder a ataques cibernéticos, além de garantir a segurança de dados sensíveis.</p>
  </div>

  <ion-item button (click)="toggleContent('content1')"><!--Barra 1-->
    <ion-label>
      <h2 class="pf-box">Analista de Segurança Cibernética</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content1']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content1']" class="btn-before">
    <p class="text-info">Profissional que monitora e analisa atividades suspeitas nos sistemas, identificando e respondendo a ameaças.</p>
    <p class="salario">Média Salarial: R$3 mil - R$8 mil</p>
  </div><!--Barra 1-->

  <ion-item button (click)="toggleContent('content2')"><!--Barra 2-->
    <ion-label>
      <h2 class="pf-box">Especialista em Segurança da Informação</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content2']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content2']" class="btn-before">
    <p class="text-info">Profissional responsável por garantir que os sistemas de informação de uma organização sejam seguros, implementando políticas, controles e ferramentas de segurança.</p>
    <p class="salario">Média Salarial: R$7 mil - R$20 mil</p>
  </div><!--Barra 2-->

  <ion-item button (click)="toggleContent('content3')"><!--Barra 3-->
    <ion-label>
      <h2 class="pf-box">Engenheiro de Segurança</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content3']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content3']" class="btn-before">
    <p class="text-info">Responsável por projetar e implementar soluções de segurança em redes, servidores, e sistemas de TI.</p>
    <p class="salario">Média Salarial: R$4 mil - R$12 mil</p>
  </div><!--Barra 3-->

  <ion-item button (click)="toggleContent('content4')"><!--Barra 4-->
    <ion-label>
      <h2 class="pf-box">Engenheiro de Penetração(PenTester)</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content4']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content4']" class="btn-before">
    <p class="text-info">Especialista em realizar testes de penetração para identificar vulnerabilidades em sistemas e aplicações antes que um atacante real possa explorá-las.</p>
    <p class="salario">Média Salarial: R$5 mil - R$20 mil</p>
  </div><!--Barra 4-->

  <ion-item button (click)="toggleContent('content5')"><!--Barra 5-->
    <ion-label>
      <h2 class="pf-box">Analista Forense Digital</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content5']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content5']" class="btn-before">
    <p class="text-info">Especialista em investigar crimes cibernéticos, analisando logs e dados para encontrar evidências de invasões ou atividades maliciosas.</p>
    <p class="salario">Média Salarial: R$3 mil - R$10 mil</p>
  </div><!--Barra 5-->

  <div class="btn-top" style="display: flex; justify-content: center; margin-top: 35px;">
    <ion-icon (click)="scrollToTop()" name="arrow-up-circle-outline" size="large" style="background-color: #0077b6;"></ion-icon>
  </div>  
</ion-content>

<!-- Rodapé da página -->
<ion-footer>
  <!-- Barra de ferramentas que contém os botões -->
  <ion-toolbar>
    <!-- Conjunto de botões centralizados -->
    <ion-buttons style="display: flex; justify-content: center; justify-content: space-between; margin-left: 45px; margin-right: 45px;">
      <!-- Primeiro botão com ícone aumentado -->
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/favoritos">
        <img src="assets/img/favorito.png" alt="">
      </a>
      <a href="/profile">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


