
.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #023E8A;
  border-bottom: 2px #fff solid;
}

.logo {
  max-width: 35px;
}

ion-content {
  --background: #0077B6;

  #header {
    height: 33%;
    background: #023E8A;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;

    h1 {
      font-size: 2em;
      margin-bottom: 5px;
      text-align: center;
    }

    p {
      font-size: 1rem;
      line-height: 1.4;
      text-align: center;
    }
  }

  .wrapper {
    position: relative; /* Remova o absolute para evitar restrições */
  padding: 15px; /* Adicione espaçamento interno */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinha o conteúdo no topo */
  height: auto; /* Permite que a altura cresça conforme necessário */
  margin-bottom: 20px;

    .form-wrapper {
      box-shadow: none;
      border-radius: 20px;
      padding: 15px 10px;
      
    
        ion-item {
          --background: #dbdbdb;
          --padding-start: 10px;
          --highlight-height: 0;
          --border-width: 0;
          --padding-top: 0;
          --min-height: 40px;
          margin-bottom: 15px;
          border-radius: 5px;
          display: flex;
          align-items: center;
    
          // Ícones dentro do ion-item
          ion-icon {
            font-size: 18px;
            color: #000;
          }
    
          // Inputs dentro do ion-item
          ion-input {
            margin-left: 10px;
            font-size: 14px;
            color: #000;
          }
    
          // Ícones para mostrar/esconder senha
          .icon_password {
            width: 24px;
            cursor: pointer;
            margin-left: auto;
          }
        }
    
        // Botão de envio
        ion-button {
          margin-top: 25px;
        }
    
        // Texto de conta existente
        .create-acount {
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-size: 0.9rem;
          color: #0127fd;
          text-align: center;
          text-decoration: none;
        }
      
    }

    .line-text {
      padding: 0 30px;
      position: relative;
      height: 20px;
      margin-top: 30px;

      .text {
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translate(-50%);
        padding: 0 16px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }
    }
    
      .social-weapper {
      box-shadow: none;
      border-radius: 20px;
      margin-top: 20px;
      padding: 10px;

      .sociais {
        display: flex;
        justify-content: center;
        padding: 4px;

        ion-button {
          margin: 0 5px;
          --padding-start: 20px;
          --padding-end: 20px;

          ion-icon {
            font-size: 18px;
          }
        }

        .btn-fb {
          --background: #567aa3;
        }
        .btn-tw {
          --background: #48cff5;
        }
        .btn-go {
          --background: #fd684f;
        }
        .btn-ph {
          --background: #737373;
        }
      }
    }
  }
}

ion-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  height: 100%;
}

.form-wrapper {
  margin-top: 10px;
}


ion-label, h2, ion-icon, .btn-before{
  color: #fff;
}

.sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sociais > .text {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.sociais > ion-button {
  --background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.sociais img {
  max-width: 30px;
  height: auto;
}

.justify-icon {
  display: flex;
  justify-content: center; /* Centraliza as imagens horizontalmente */
  gap: 20px; /* Define um espaço (gap) entre as imagens */
}

.icon-artigos {
  max-width: 30px; /* Ajuste o tamanho das imagens conforme necessário */
}

a, .icon-tabs {
  font-size: 25px; 
  width: 25px; 
  
}


ion-footer, ion-toolbar{
  --background: #023E8A;
  border-top: 1px #fff solid;
}