<ion-header>
  <div class="cabecalho">
    <a href="/home"
      ><img src="assets/img/logo.png" alt="Logo" class="logo"
    /></a>
    <a href="/artigos/python"
      ><img src="assets/img/artigo.png" alt="Perfil" class="logo"
    /></a>
  </div>
</ion-header>

<!-- Conteúdo principal da página -->
<ion-content class="ion-padding">
  <div class="btn-back" style="max-width: 30px;">
    <a href="/mapa/map-python"
      ><img src="assets\img\btn-back.png" alt="Botão Voltar"
    /></a>
  </div>

  <div class="tittle-content">
    <h3>Profissões</h3>
    <img src="assets/img/flask.png" alt="flask-img" class="icon-js" />
    <p class="text-intro">
      Um desenvolvedor ou programador que trabalha com Flask é geralmente um desenvolvedor backend ou full-stack, especializado na criação de aplicações web usando Python. Flask é um framework web minimalista e flexível, que permite aos desenvolvedores construir desde APIs simples até sistemas complexos e escaláveis. </p>
  </div>

  <ion-item button (click)="toggleContent('content1')"><!--Barra 1-->
    <ion-label>
      <h2 class="pf-box">Desenvolvedor Back-End</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content1']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content1']" class="btn-before">
    <p class="text-info"> O desenvolvedor backend é responsável por criar, gerenciar e manter a lógica de negócios e os dados que estão por trás de uma aplicação. No caso do Flask, isso envolve a criação de APIs RESTful, integração com bancos de dados, segurança, autenticação e comunicação entre o front-end e o back-end.</p>
    <p class="salario">Média Salarial: R$4 mil - R$12 mil</p>
  </div><!--Barra 1-->

  <ion-item button (click)="toggleContent('content2')"><!--Barra 2-->
    <ion-label>
      <h2 class="pf-box">Desenvolvedor Full Stack</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content2']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content2']" class="btn-before">
    <p class="text-info">O desenvolvedor full stack tem experiência tanto no front-end quanto no back-end e pode criar uma aplicação web completa. Ao trabalhar com Flask, ele irá usar o Flask para o backend e pode integrar com frameworks frontend como React, Angular ou Vue.js.
    </p>
    <p class="salario">Média Salarial: R$5 mil - R$12 mil</p>
  </div><!--Barra 2-->

  <ion-item button (click)="toggleContent('content3')"><!--Barra 3-->
    <ion-label>
      <h2 class="pf-box">Engenheiro de DevOps </h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content3']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content3']" class="btn-before">
    <p class="text-info"> Embora o DevOps se concentre em operações e automação, muitos engenheiros de DevOps com experiência em Flask ajudam a gerenciar, implantar e automatizar o processo de desenvolvimento de aplicações, especialmente em plataformas de nuvem.</p>
    <p class="salario">Média Salarial: R$5 mil - R$15 mil</p>
  </div><!--Barra 3-->

  <ion-item button (click)="toggleContent('content4')"><!--Barra 4-->
    <ion-label>
      <h2 class="pf-box">Engenheiro de Dados</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content4']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content4']" class="btn-before">
    <p class="text-info"> Engenheiros de dados constroem pipelines de dados, bancos de dados e sistemas de análise. Embora o foco principal deles não seja o Flask, muitos usam o framework para criar APIs de dados ou sistemas para análise de grandes volumes de dados.</p>
    <p class="salario">Média Salarial: R$7 mil - R$15 mil</p>
  </div><!--Barra 4-->

  <div class="btn-top" style="display: flex; justify-content: center; margin-top: 35px;">
    <ion-icon (click)="scrollToTop()" name="arrow-up-circle-outline" size="large" style="background-color: #0077b6;"></ion-icon>
  </div>  
</ion-content>

<!-- Rodapé da página -->
<ion-footer>
  <!-- Barra de ferramentas que contém os botões -->
  <ion-toolbar>
    <!-- Conjunto de botões centralizados -->
    <ion-buttons style="display: flex; justify-content: center; justify-content: space-between; margin-left: 45px; margin-right: 45px;">
      <!-- Primeiro botão com ícone aumentado -->
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/favoritos">
        <img src="assets/img/favorito.png" alt="">
      </a>
      <a href="/profile">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>