<ion-header>
  <div class="cabecalho">
    <a href="/home"
      ><img src="assets/img/logo.png" alt="Logo" class="logo"
    /></a>
    <a href="/artigos/javascript"
      ><img src="assets/img/artigo.png" alt="Perfil" class="logo"
    /></a>
  </div>
</ion-header>

<!-- Conteúdo principal da página -->
<ion-content class="ion-padding">
  <div class="btn-back" style="max-width: 30px;">
    <a href="/mapa/map-js"
      ><img src="assets\img\btn-back.png" alt="Botão Voltar"
    /></a>
  </div>

  <div class="tittle-content">
    <h3>Profissões</h3>
    <img src="assets/img/js.png" alt="javascript-img" class="icon-js" />
    <p class="text-intro">Um programador ou desenvolvedor que trabalha com JavaScript utiliza essa linguagem para criar, implementar e manter funcionalidades dinâmicas em sites e aplicativos, tanto no lado do cliente (front-end) quanto no servidor (back-end). JavaScript é uma linguagem essencial para o desenvolvimento web moderno, sendo usada para adicionar interatividade, lógica de negócios e conectividade a aplicações. </p>
  </div>

  <ion-item button (click)="toggleContent('content1')"><!--Barra 1-->
    <ion-label>
      <h2 class="pf-box">Desenvolvedor Front-End</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content1']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content1']" class="btn-before">
    <p class="text-info">Foca no desenvolvimento da interface do usuário (UI) e na experiência do usuário (UX). Utiliza JavaScript junto com HTML e CSS para criar páginas web interativas.</p>
    <p class="salario">Média Salarial: R$3 mil - R$8 mil</p>
  </div><!--Barra 1-->

  <ion-item button (click)="toggleContent('content2')"><!--Barra 2-->
    <ion-label>
      <h2 class="pf-box">Desenvolvedor Back-End</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content2']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content2']" class="btn-before">
    <p class="text-info">Trabalha com a lógica de negócios, banco de dados e integração de sistemas no servidor. Usa JavaScript no lado do servidor com Node.js.</p>
    <p class="salario">Média Salarial: R$3 mil - R$8 mil</p>
  </div><!--Barra 2-->

  <ion-item button (click)="toggleContent('content3')"><!--Barra 3-->
    <ion-label>
      <h2 class="pf-box">Desenvolvedor de Jogos Web</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content3']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content3']" class="btn-before">
    <p class="text-info"> Cria jogos baseados em navegador utilizando JavaScript, trabalhando com bibliotecas como Phaser.js ou Three.js para gráficos 3D.</p>
    <p class="salario">Média Salarial: R$2 mil - R$5 mil</p>
  </div><!--Barra 3-->

  <ion-item button (click)="toggleContent('content4')"><!--Barra 4-->
    <ion-label>
      <h2 class="pf-box">Desenvolvedor de IA</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content4']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content4']" class="btn-before">
    <p class="text-info">Trabalha no desenvolvimento de soluções baseadas em blockchain utilizando JavaScript para integrar e implementar contratos inteligentes e interações com a blockchain.</p>
    <p class="salario">Média Salarial: R$7 mil - R$20 mil</p>
  </div><!--Barra 4-->

  <div class="btn-top" style="display: flex; justify-content: center; margin-top: 35px;">
    <ion-icon (click)="scrollToTop()" name="arrow-up-circle-outline" size="large" style="background-color: #0077b6;"></ion-icon>
  </div>  
</ion-content>

<!-- Rodapé da página -->
<ion-footer>
  <!-- Barra de ferramentas que contém os botões -->
  <ion-toolbar>
    <!-- Conjunto de botões centralizados -->
    <ion-buttons style="display: flex; justify-content: center; justify-content: space-between; margin-left: 45px; margin-right: 45px;">
      <!-- Primeiro botão com ícone aumentado -->
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/favoritos">
        <img src="assets/img/favorito.png" alt="">
      </a>
      <a href="/profile">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


