<ion-header>
  <div class="cabecalho">
    <a href="/home"
      ><img src="assets/img/logo.png" alt="Logo" class="logo"
    /></a>
    <a href="/profissoes/pfsecurity"
      ><img src="assets/img/profissao.png" alt="Perfil" class="user-pf"
    /></a>
  </div>
</ion-header>

<!-- Conteúdo principal da página -->
<ion-content class="ion-padding">
  <div class="btn-back" style="max-width: 30px;">
    <a href="/mapa/map-security"
      ><img src="assets\img\btn-back.png" alt="Botão Voltar"
    /></a>
  </div>

  <div class="tittle-content">
    <h3>Security</h3>
    <img src="assets/img/cyber-security.png" alt="AI" class="icon-python" />
    <p>Aqui temos um guia com documentações oficiais, artigos e vídeos sobre os tópicos abordados no RoadMap!</p>
  </div>

  <ion-item button (click)="toggleContent('content1')"><!--Barra 1-->
    <ion-label>
      <h2>Conceitos básicos de segurança cibernética </h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content1']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content1']" class="btn-before">
    <div class="justify-icon">
      <a href="https://aws.amazon.com/pt/what-is/cybersecurity/#:~:text=A%20seguran%C3%A7a%20cibern%C3%A9tica%20%C3%A9%20a,e%20atender%20%C3%A0%20conformidade%20regulat%C3%B3ria." target="_blank" rel="noopener noreferrer"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>

      <a href="https://www.youtube.com/watch?v=_ll-9CAaBlk" target="_blank" rel="noopener noreferrer"><img src="assets/img/youtube.png" alt="Artigo" class="icon-artigos"></a>

      
     
    </div>
  </div><!--Barra 1-->

  <ion-item button (click)="toggleContent('content2')"><!--Barra 2-->
    <ion-label>
      <h2>Redes</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content2']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content2']" class="btn-before">
    <div class="justify-icon">

      <a href="https://esr.rnp.br/seguranca/auditoria-de-seguranca-redes/" target="_blank"><img src="assets/img/artigo.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=mY8R0iVlehs" target="_blank"><img src="assets/img/youtube.png" alt="Artigo" class="icon-artigos"></a>
    </div>
  </div><!--Barra 2-->

  <ion-item button (click)="toggleContent('content3')"><!--Barra 3-->
    <ion-label>
      <h2>Sistemas Operacionais</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content3']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content3']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.linux.org/" target="_blank"><img src="assets/img/site.png" alt="Youtube" class="icon-artigos"></a>
      <a href="https://blog.betrybe.com/linux/?utm_term=&utm_campaign=Performance+Max+Cursos&utm_source=adwords&utm_medium=ppc&hsa_acc=1466424558&hsa_cam=21861374146&hsa_grp=&hsa_ad=&hsa_src=x&hsa_tgt=&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrqulkcgQDmdgF7MFYuV30dMwfkHfN7C3slgo9qAF-Om_6MjCLbkU4pGRoCpz8QAvD_BwE" target="_blank"><img src="assets/img/artigo.png" alt="Youtube" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=jA-vNkjTjkU" target="_blank"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 3-->

  <ion-item button (click)="toggleContent('content4')"><!--Barra 4-->
    <ion-label>
      <h2>Criptografia Avançada</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content4']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content4']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.veritas.com/pt/br/information-center/aes-encryption" target="_blank"><img src="assets/img/artigo.png" alt="Site" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=PXbV8bc4sUM" target="_blank"><img src="assets/img/youtube.png" alt="Site" class="icon-artigos"></a>
    </div>
  </div><!--Barra 4-->

  <ion-item button (click)="toggleContent('content5')"><!--Barra 5-->
    <ion-label>
      <h2>Fundamentos de Programação</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content5']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content5']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.python.org/" target="_blank"><img src="assets/img/site.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=4p7axLXXBGU" target="_blank"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 5-->

  <ion-item button (click)="toggleContent('content6')"><!--Barra 6-->
    <ion-label>
      <h2>Virtual Box</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content6']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content6']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.virtualbox.org/" target="_blank"><img src="assets/img/site.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=EJlbTajZyUo" target="_blank"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 6-->

  <ion-item button (click)="toggleContent('content7')"><!--Barra 7-->
    <ion-label>
      <h2>Principais ameaças</h2>
    </ion-label>
    <ion-icon
      slot="end"
      name="chevron-down"
      [ngClass]="{'chevron-up': isContentVisible['content7']}"
    ></ion-icon>
  </ion-item>
  <div *ngIf="isContentVisible['content7']" class="btn-before">
    <div class="justify-icon">
      <a href="https://www.youtube.com/watch?v=eqlWRgbOSSc" target="_blank"><img src="assets/img/youtube.png" alt="Artigo" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=O0mpWm0p45g" target="_blank"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
      <a href="https://www.youtube.com/watch?v=i-FQHMIiAJc" target="_blank"><img src="assets/img/youtube.png" alt="Youtube" class="icon-artigos"></a>
    </div>
  </div><!--Barra 7-->


    <div class="btn-top" style="display: flex; justify-content: center; margin-top: 35px;">
        <ion-icon (click)="scrollToTop()" name="arrow-up-circle-outline" size="large" style="background-color: #0077b6;"></ion-icon>
    </div>
</ion-content>

<!-- Rodapé da página -->
<ion-footer>
  <!-- Barra de ferramentas que contém os botões -->
  <ion-toolbar>
    <!-- Conjunto de botões centralizados -->
    <ion-buttons style="display: flex; justify-content: center; justify-content: space-between; margin-left: 45px; margin-right: 45px;">
      <!-- Primeiro botão com ícone aumentado -->
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/favoritos">
        <img src="assets/img/favorito.png" alt="">
      </a>
      <a href="/profile">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

