<ion-header>
  <div class="cabecalho">
    <a href="/home"><img src="assets/img/logo.png" alt="Logo" class="logo" /></a>
  </div>
</ion-header>

<ion-content>
  <div id="header">
    <h1><strong>Recuperar Senha</strong></h1>
    <p>Esqueceu a senha?<br>Digite seu email.</p>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <!-- Campo de Email -->
        <ion-item>
          <ion-icon name="mail" class="icon-input"></ion-icon>
          <ion-input 
            type="email" 
            placeholder="Email" 
            [(ngModel)]="email">
          </ion-input>
        </ion-item>

        <!-- Botão de Enviar -->
        <ion-button expand="block" (click)="resetPassword()">Enviar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons style="display: flex; justify-content: space-between; margin: 0 45px;">
      <a href="/home">
        <ion-icon name="home-outline" class="icon-tabs" style="color: #fff;"></ion-icon>
      </a>
      <a href="/user/login">
        <img src="assets/img/perfil-menu.png" alt="">
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
